MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/djazair
JWT_SECRET=change-me-long-random
CRON_SECRET=change-me-too
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me-strong
GOOGLE_PLACES_KEY=
FRONT_URL=https://ton-front.onrender.com
